ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  li{
    list-style: none;
    .videoItemContainer{
      display: flex;
      text-align: center;
      border-radius: 10px;
      border: black 1px solid;
      flex-direction: column;
      padding: 1rem 2rem 1rem;
      background-color: black;
      color: white;
      cursor: pointer;
      height: 35rem;
      &:hover{
        color:black;
        background-color: #d9d917;
        transition: background-color 0.5s ease, color 0.5s ease;
      }
      .videoItemContainerDetail{
        display: flex;
        justify-content: center;
      }
    }
  }

}
