.videoDetailContainer{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .videoDetailImage{
    border-radius: 10px
  }
  .detailContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    .videoDetailTitle{
      font-size: 3rem
    }
    .videoDetailGenre{
      font-size: 2rem;
    }
    .videoDetailDescriptionContainer{
      width: 30rem; text-align: center;
    }

    .videoDetailIMDBContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
.trailerContainer{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
