<app-page-title titlePhoto="assets/person-Photoroom.png-Photoroom.png"></app-page-title>
<app-top-menu [topMenuItems]="menuItems"></app-top-menu>

<div class="videoDetailContainer">
  <img width="300" class="videoDetailImage" [src]="videoDetail?.imagem">
  <div class="detailContainer">
    <span class="videoDetailTitle" >{{videoDetail?.nome}}</span>
    <span class="videoDetailGenre">{{videoDetail?.genero}}, {{videoDetail?.subgenero}}</span>
    <div class="videoDetailDescriptionContainer">
      <p style="color: white; font-size: 1rem;">{{videoDetail?.descricao}}</p>
    </div>
    <div class="videoDetailIMDBContainer">
      <p>IMDB:</p>
      <app-rating [ratingValue]=videoDetail?.rating></app-rating>
    </div>
  </div>
</div>
<div class="trailerContainer">
  <iframe width="1000" height="480" [src]="videoDetail?.trailerMovieLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
